body {
	background-color: #E1FDFF;
	margin: 0;
}

header {
	height: 70px;
	display: flex;
	justify-content: center;
}

.menu-heading-item {
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-right: 30px;
}

.header-title {
	text-transform: uppercase;
	font-family: Futura;
	font-weight: 800;
}

.main-block {
	width: 100vw;
	height: calc(100vh - 70px);
	display: flex;
	justify-content: space-around;
}

.left-block {
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.right-block {
	width: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: first;
}

#map {
	height: 70vh;
	border-radius: 10px;
}

.levels {
	height: 10vh;
	background-color: white;
	border-radius: 10px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 10px;
	margin-bottom: 10px;
}

.level {
	width: 20vw;
	height: 7vh;
	border-radius: 30px;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.level:hover {
	background-color: darkgrey;
	cursor: pointer;
}

.input-block {
	display: flex;
	flex-direction: row;
}

.input-block-field {
	width: calc(25vw - 5vh);
	height: 5vh;
	background-color: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#input-block-button {
	width: 5vh;
	height: 5vh;
	background-color: white;
	border-radius: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}

.input-block-button-image {
	height: 4vh;
	display: block;
}

#input {
	font-size: 14px;
	height: calc(5vh - 20px);
	width: calc(calc(25vw - 5vh) - 40px);
	display: block;
	border: none;
}

#input:focus {
	outline: none;
}

.label {
	display: flex;
	align-items: center;
	height: 5vh;
	background-color: white;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.text_in_label {
	width: 25vw;

	margin: 20px;
	z-index: 1;

	display: flex;
	justify-content: space-between;
}

.block_in_label {
	position: fixed;
	height: 5vh;
	border-radius: 20px;
	background-color: green;
}